:root{
    --main-background-color:#6943FF;
    --main-text-color:#ffffff;
    --main-stroke-color:#B295FF;
    --secondry-background-color:#F4F4F4;

    --main-btn-background-color:#ffffff;
    --main-btn-text-color:#3D3D3D;

    --secondry-text-color:#5A537B;

    --sub-text-color:#353535;


}