:root{
    --main-background-color:#6943FF;
    --main-text-color:#ffffff;
    --main-stroke-color:#B295FF;
    --secondry-background-color:#F4F4F4;

    --main-btn-background-color:#ffffff;
    --main-btn-text-color:#3D3D3D;

    --secondry-text-color:#5A537B;

    --sub-text-color:#353535;
    
    --card-background-color:#FFFFFF

}



.darkmode{
    --main-background-color:#6943FF;
    --main-text-color:#ffffff;
    --main-stroke-color:#B295FF;
    --secondry-background-color:#1F2937;

    --main-btn-background-color:#ffffff;
    --main-btn-text-color:#3D3D3D;

    --secondry-text-color:#CCC1FF;

    --sub-text-color:#FFFFFF;

    --card-background-color:#273549;
}

*{
    box-sizing: border-box;
}
body{
    font-family: "Inter";
}

#container{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}


#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-background-color);
    padding: 20px;

}
#header h1{
    text-align: center;
    font-family: "Inter";
    font-weight: bolder;
    font-size: 28px;
    color: var(--main-text-color);
    margin-bottom: 30px;
}

#header input[type="text"]{
    display: block;
    width: 117px;
    height: 83px;
    background-color: transparent;
    border: 1px solid var(--main-stroke-color);
    border-radius: 5px;
    font-family: "Inter";
    font-size: 58px;
    text-align: center;
    font-weight: bolder;
    color: var(--main-text-color);
}


#header button{
    display: block;
    color: var(--main-btn-text-color);
    background-color: var(--main-btn-background-color);
    border: 0;
    padding: 9px 27px;
    border-radius: 5px;
    margin-top: 25px;
}

#content{
    background-color: var(--secondry-background-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.unit-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-background-color);
}

.unit-card h2{
    color: var(--secondry-text-color);
    font-weight:500;
    margin-bottom: 9px;
}

.unit-card p{
    color: var(--sub-text-color);
}



#theme-switch{
    width: 50px;
    height: 50px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    background-color: var(--base-varient);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}


#theme-switch svg{
    fill: var(--main-bg-color);
}

#theme-switch svg:last-child{
    display: none;
}

.darkmode #theme-switch svg:first-child{
    display: none;
}

.darkmode #theme-switch svg:last-child{
    display: block;
}